.doctorPatientVitalSignsAndPhysicalMeasurementsBox {
    width: 100% !important;
    height: 100%;
    max-height: initial;
    min-height: initial;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.doctorPatientVitalSignsAndPhysicalMeasurements {
    width: 100%;
    height: 41px;

    font-weight: 600;
    font-size: 16px;
}

.doctorPatientVitalSignsAndPhysicalMeasurementsContent {
    width: 100%;
    height: 100%;

    min-height: initial;
    gap: 15px;
}


















/* Add these styles to your existing CSS file */
.nurseControls {
    display: flex;
    gap: 10px;
}

.editButton:disabled, .saveButton:disabled {
    cursor: not-allowed;
}

.editableVitalsForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(768px, 1fr)); */
    gap: 10px;
    width: 100%;
}

.vitalsTimestamp {
    font-size: 14px;;
    font-weight: 400;
    color: #4E4B66;
}

.vitalInputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.vitalInputGroup label {
    font-weight: 500;
    color: #4E4B66;
}

.vitalInputGroup input {
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.vitalInputGroup input:focus {
    outline: none;
    border-color: #4285f4;
    box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.2);
}