.button {
    width: auto;
    height: auto;
    background-color: #008080;

    padding: 12px 10px;

    border-radius: 8px;

    /* Drop shadow */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    transition: all 0.2s ease;
}

.button:hover {
    background-color: rgba(0, 128, 128, 0.6);

    cursor: pointer;

    transform: translateY(-1px);
}

.button:hover .buttonText {
    text-decoration: underline;
}

.button.sendForTestAndFinalizingDiagnosis {
    width: 100%;

    box-sizing: border-box;
}

.button.sendForTestAndFinalizingDiagnosis.cancel {
    background-color: rgba(217, 58, 58, 1);
}

.button.sendForTestAndFinalizingDiagnosis.cancel:hover {
    background-color: rgba(217, 58, 58, 0.6);
}

.button.addNote {
    width: auto;
    max-width: 100px;
}

.button.save {
    width: auto;
    min-width: 100px;
}