.calendar-container {
    background: #fff;
    width: 271px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 12px 12px 12px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendar-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.calendar-current-date {
    font-weight: 500;
    font-size: 15px;
}

.calendar-body {
    justify-content: space-between;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: #414141;
    padding: 0;
    margin: 0;
}

.calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}

.calendar-dates li {
    position: relative;
    z-index: 1;
    cursor: pointer;
    
    padding: 3px 0px;
}

.calendar-dates li.inactive {
    color: #aaa;
}

.calendar-dates li.selected {
    color: #fff;
    /* background: #009951; */

    border-radius: 5.78px;
}

.calendar-dates li.selected::before {
    color: #fff;
    background: #009951;

    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 5.78px;
    transform: translate(-50%, -50%);
}

.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 5.78px;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: #6332c5;
}

.calendar-dates li:not(.selected):not(.inactive):hover::before {
    background: #e4e1e1;
}

button {
    all: unset;
    cursor: pointer;
}

#chevron {
    all: unset;
    width: 17px;
    height: 17px;
    padding: 3px;
    cursor: pointer;
    border: 1px solid #aeabab;
    border-radius: 8px;
}

#calendar-prev, #calendar-next {
    height: 25px;
}