.header {
    width: 100%;
    height: auto;

    background-color: #009951;

    .headerContent {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        margin: 11px 34px;

        .headerLogo {
            width: 50px;
            height: 50px;
        }

        .rightMostBox {
            width: 291px;
            height: auto;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            /* space between 12px */
            gap: 12px;
    
            .headerUserPFP{
                width: 40px;
                height: 40px;
            }
    
            .name {
                display: flex;
                align-items: center;
    
                width: 136px;
                height: 16px;
    
                font-size: 16px;
                color: white;
            }
    
            .signOutButton {
                display: flex;
                align-self: center;
                align-items: center;
                justify-content: center;
    
                width: 91px;
                height: auto;
                padding: 8px;
                border-radius: 8px;
    
                color: #008080;
                background-color: rgba(217,219,233,1);
    
                cursor: pointer;
            }
    
            .signOutButton:hover {
                /* Add text underline */
                text-decoration: underline;

                border: 1px solid #008080;

                /* Add a bit of transparency */
                background-color: rgba(217,219,233,0.6);
            }
        }
    }
}