.overviewTextBig {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: #4E4B66;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 14px;

    max-width: 232px;
    max-height: 21px;
}

.overviewTextBig.noWidthLimit {
    max-width: initial;
}