.thirdRow {
    display: flex;
    flex-direction: row;

    height: auto;

    margin-bottom: 20px;
}

.fourthRow {
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-column-start: 2;
}