.doctorEventsCapturingBox {
    width: 100%;
    height: auto;
    max-height: initial;
    min-height: initial;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: sticky;
    top: 0;
}

.doctorEventsCapturing {
    width: 100%;
    height: 41px;

    font-weight: 700;
    font-size: 20px;
}

.doctorEventsCapturingContent {
    width: 100%;
    height: auto;

    min-height: initial;
}