.firstRow {
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
}

.secondRow {
    display: flex;
    flex-direction: row;

    height: 245px;

    margin-bottom: 20px;
}

.thirdRow {
    display: flex;
    flex-direction: row;

    height: 420px;

    margin-bottom: 20px;
}