.firstRow {
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;

    /* position: sticky;
    top: 0; */
}

.secondRow {
    display: flex;
    flex-direction: row;

    height: 245px;

    margin-bottom: 20px;
}

.thirdRow {
    display: flex;
    flex-direction: row;

    height: 420px;

    margin-bottom: 20px;
}

.fourthRow {
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
}

.fifthRow {
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}