.patientInformationForm {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    width: 100%;
}

/* For mobile devices */
/* @media (max-width: 768px) {
    .patientInformationForm {
        grid-template-columns: 1fr;
    }
} */