/* INCOMING PATIENT CONTENT */
.incomingPatientContainer {
    /* display: grid; */
    grid-column: span 1;

    margin-right: 20px;

    width: 414px;
    height: 276px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.incomingPatientHeader {
    display: flex;

    margin-bottom: 10px;

    color: #4E4B66;

    font-size: 12px;
    font-weight: bold;
}

.incomingPatientContent {
    display: flex;

    flex-direction: column;

    width: 385px; /* 374px */
    height: 163px;

    font-size: 12px;

    margin-bottom: 10px;

    overflow-y: scroll;
    scrollbar-width: thin;
}