.confirmButton {
    background-color: #009951;
    color: white;
    
    width: 97px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    cursor: pointer;

    border-radius: 5px;
}

.confirmButton:hover {
    background-color: #007E3C;
}

.cancelButton {
    background-color: #D93A3A;
    color: white;
    
    width: 97px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    cursor: pointer;

    border-radius: 5px;
}

.cancelButton:hover {
    background-color: #B72A2A;
}
















.prescriptionMedicine {
    all: unset;

    width: 166px;
    height: 40px;

    text-align: left;
}

.prescriptionMedicineInput {
    all: unset;

    width: 166px;
    height: 25px;

    box-sizing: border-box;

    border: 1px solid #000;
    border-radius: 5px;
}

.prescriptionAM {
    all: unset;

    margin-left: 10px;
    
    width: 45px;
    height: 40px;

    text-align: left;
}

.prescriptionAMInput {
    all: unset;

    margin-left: 10px;

    width: 45px;
    height: 25px;

    box-sizing: border-box;

    border: 1px solid #000;
    border-radius: 5px;
}

.prescriptionNoon {
    all: unset;
    
    margin-left: 10px;

    width: 44px;
    height: 40px;

    text-align: left;
}

.prescriptionNoonInput {
    all: unset;

    margin-left: 10px;

    width: 44px;
    height: 25px;

    box-sizing: border-box;

    border: 1px solid #000;
    border-radius: 5px;
}

.prescriptionPM {
    all: unset;
    
    margin-left: 10px;

    width: 44px;
    height: 40px;

    text-align: left;
}

.prescriptionPMInput {
    all: unset;

    margin-left: 10px;

    width: 44px;
    height: 25px;

    box-sizing: border-box;

    border: 1px solid #000;
    border-radius: 5px;
}

.prescriptionDuration {
    all: unset;
    
    margin-left: 10px;

    flex: 1;
    /* width: auto; */
    height: 40px;

    text-align: left;
}

.prescriptionDurationInput {
    all: unset;

    margin-left: 10px;

    flex: 1;
    height: 25px;

    box-sizing: border-box;

    border: 1px solid #000;
    border-radius: 5px;
}

.prescriptionHeader {
    display: flex;

    margin-bottom: 10px;

    color: #4E4B66;

    font-size: 16px;
    font-weight: bold;
}

.prescriptionContainer {
    height: 350px;

    overflow-y: scroll;
    scrollbar-width: thin;
}























.procedureName {
    all: unset;

    width: 339px;
    height: 40px;

    text-align: left;
}

.procedureNameInput {
    all: unset;

    width: 339px;
    height: 25px;

    box-sizing: border-box;

    border: 1px solid #000;
    border-radius: 5px;
}

.procedureDateTime {
    all: unset;
    
    margin-left: 10px;

    flex: 1;
    /* width: auto; */
    height: 40px;

    text-align: left;
}

.procedureDateTimeInput {
    all: unset;

    margin-left: 10px;

    flex: 1;
    height: 25px;

    box-sizing: border-box;

    border: 1px solid #000;
    border-radius: 5px;
}

.procedureHeader {
    display: flex;

    margin-bottom: 10px;

    color: #4E4B66;

    font-size: 16px;
    font-weight: bold;
}

.procedureContainer {
    height: 350px;

    overflow-y: scroll;
    scrollbar-width: thin;
}