.secondRow {
    display: flex;
    gap: 20px;
}

.thirdRow {
    display: flex;
    gap: 20px;
}

.containerContent {
    height: 100%;

    padding: 20px 20px 0px;
}

.containerTitle {
    font-size: 20px;
    font-weight: bold;

    color: #4E4B66;

    margin-bottom: 10px;
}



.patientInformationContainer {
    /* margin-right: 20px; */

    width: 100%;
    height: 193px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.patientInformationFirstRow {
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 25%;
    gap: 54px;
}

.patientInformationSecondRow {
    margin-top: 16px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 25%;
    gap: 54px;
}

.patientInformationThirdRow {
    margin-top: 16px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 25%;
    gap: 54px;
}

.box2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
}

.boxDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribute {
    flex: 0;
    text-align: left;

    font-weight: bold;
    color: #4E4B66;
    white-space: nowrap;

    font-size: 16px;
}

.value {
    flex: 1;
    text-align: right;

    font-size: 14px;
}








.patientPassInformationContainer {
    /* margin-right: 20px; */

    width: 50%;
    height: 245px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.patientPassInformationHeader {
    display: flex;

    margin-top: 20px;
    margin-bottom: 10px;

    height: auto;

    color: #4E4B66;

    font-size: 16px;
    font-weight: bold;
}

.patientPassInformationCondition {
    all: unset;

    width: 123px;
    height: 40px;

    text-align: left;
}

.patientPassInformationSeverity {
    all: unset;

    margin-left: 10px;

    width: 108px;
    height: 40px;

    text-align: left;
}

.patientPassInformationNearestDateDiagnosed {
    all: unset;

    margin-left: 10px;

    width: 143px;
    height: 40px;

    text-align: left;
}

.patientPassInformationStatus {
    all: unset;

    margin-left: 10px;

    flex: 1;

    height: 40px;

    text-align: left;
}

.patientPassInformationContent {
    color: #09090B;

    height: 120px;

    overflow-y: scroll;

    scrollbar-width: thin;

    ul {
        height: 20px;
    }
}












.patientPassSessionContainer {
    /* margin-right: 20px; */

    flex: 1;

    height: 245px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.patientPassSessionHeader {
    display: flex;

    margin-top: 20px;
    margin-bottom: 10px;

    height: auto;

    color: #4E4B66;

    font-size: 16px;
    font-weight: bold;
}

.patientPassSessionSessionDate {
    all: unset;

    width: 123px;
    height: 40px;

    text-align: left;
}

.patientPassSessionHospital {
    all: unset;

    margin-left: 10px;

    width: 182px;
    height: 40px;

    text-align: left;
}

.patientPassSessionPurpose {
    all: unset;

    margin-left: 10px;

    flex: 1;

    height: 40px;

    text-align: left;
}

.patientPassSessionContent {
    color: #09090B;

    height: 120px;

    overflow-y: scroll;

    scrollbar-width: thin;

    ul {
        height: 20px;
    }
}
















.patientVitalSignsAndPhysicalMeasurementsContainer {
    /* margin-right: 20px; */

    width: 50%;
    height: 420px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vitalSignsAndPhysicalMeasurementsContent {
    height: 280px;

    justify-content: space-between;

    .attributeAndValue {
        display: flex;
        justify-content: space-between;

        height: 40px;

        margin-bottom: 15px;
    }
}

.titleAndEdit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* margin-top: 20px; */
    margin-bottom: 20px;

    height: 60px;

    color: #4E4B66;

    font-size: 16px;
    font-weight: bold;

    .containerTitle {
        margin-bottom: 0px;

        width: 50%;
        align-self: flex-start;
    }

    .editButton {
        margin-bottom: 0px;

        width: 122px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;

        background-color: #009951;

        color: white;

        font-weight: normal;
        border-radius: 10px;

        cursor: pointer;
    }

    .editButton:hover {
        background-color: #007E3C;
    }
}








.PatientTestResultContainer {
    /* margin-right: 20px; */

    flex: 1;

    height: 420px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.PatientTestResultHeader {
    display: flex;

    margin-top: 20px;
    margin-bottom: 10px;

    height: 60px;

    align-items: center;

    color: #4E4B66;

    font-size: 16px;
    font-weight: bold;
}

.PatientTestResultSessionTestType {
    all: unset;

    width: 359px;

    text-align: left;
}

.PatientTestResultStatus {
    all: unset;

    margin-left: 10px;

    flex: 1;

    text-align: left;
    font-weight: bold;
}

.PatientTestResultContent {
    color: #09090B;

    height: 260px;

    overflow-y: scroll;

    scrollbar-width: thin;

    ul {
        height: 20px;
    }
}



















.PatientSymptomsContainer {
    /* margin-right: 20px; */

    width: 100%;
    height: 504px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reasonToVisit {
    margin-top: 20px;

    display: flex;

    height: 50px;
    align-items: center;

    flex: 1;

    justify-content: space-between;

    font-size: 16px;

    font-weight: bold;
}

.symptoms {
    margin-top: 16px;

    display: flex;

    height: 70px;

    flex-direction: column;

    font-size: 16px;

    font-weight: bold;

    .attribute_symptoms {
        margin-bottom: 10px;
    }

    .value_symptoms {
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #000;
        border-radius: 10px;

        text-align: right;
    }
}

.lastRow {
    margin-top: 16px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50%;
    gap: 10px;

    font-weight: bold;
    color: #4E4B66;

    .systemRecommendation {
        /* display: flex;
        flex-direction: column; */

        .tableHeader {
            height: 40px;

            margin-top: 10px;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 33%;
            gap: 10px;

            .diseaseName {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            .diseaseProbabilities {
                grid-column-start: 3;
            }
        }

        .value_systemRecommendation {
            all: unset;

            height: 40px;

            margin-top: 10px;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 33%;
            gap: 10px;

            .diseaseName {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            .diseaseProbabilities {
                grid-column-start: 3;
            }
        }

        hr {
            margin: 0px;
        }
    }
}

.recommendationBox {
    margin-top: 10px;

    height: 180px;

    overflow-y: scroll;

    scrollbar-width: thin;
}

.preliminaryDiagnosisInput {
    margin-top: 10px;

    width: 100%;
    height: 200px;

    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 10px;

    padding: 10px;

    resize: none;
    font-family: inherit; /* Ensure font matches the rest of the application */
    font-size: inherit; /* Ensure font size matches the rest of the application */
    line-height: 1.5; /* Adjust line height for better readability */
}








.fifthRowButtons {
    all: unset;

    width: 185px;
    height: 41px;

    align-items: center;
    justify-content: center;

    text-align: center;

    color: white;

    background-color: #009951;
    cursor: pointer;

    border-radius: 10px;
}

.fifthRowButtons:hover {
    background-color: #007E3C;
}