.incomingPatientName {
    all: unset;

    width: 131px;
    height: 40px;

    text-align: left;
}

.incomingPatientGender {
    all: unset;

    margin-left: 10px;
    
    width: 71px;
    height: 40px;

    text-align: left;
}

.incomingPatientAge {
    all: unset;
    
    margin-left: 10px;

    width: 43px;
    height: 40px;

    text-align: left;
}

.incomingPatientCondition {
    all: unset;
    
    margin-left: 10px;

    width: auto; /* 99px doesnt fit */
    height: 40px;

    text-align: left;
}

.patientSentForParaclinicalTestTestType {
    all: unset;
    
    margin-left: 10px;

    width: 64px;
    height: 40px;

    text-align: left;
}

.patientSentForParaclinicalTestStatus {
    all: unset;

    font-weight: bold;
    
    margin-left: 10px;

    width: auto;
    height: 40px;

    text-align: left;
}

.monitoringInpatientName {
    all: unset;

    width: 121px;
    height: 40px;

    text-align: left;
}

.monitoringInpatientGender {
    all: unset;

    margin-left: 10px;
    
    width: 64px;
    height: 50px;

    text-align: left;
}

.monitoringInpatientAge {
    all: unset;
    
    margin-left: 10px;

    width: 44px;
    height: 50px;

    text-align: left;
}

.monitoringInpatientHospitalRoom {
    all: unset;
    
    margin-left: 10px;

    width: 133px;
    height: 50px;

    text-align: left;
}

.monitoringInpatientAdmissionDate {
    all: unset;
    
    margin-left: 10px;

    width: 118px;
    height: 50px;

    text-align: left;
}

.monitoringInpatientCondition {
    all: unset;
    
    margin-left: 10px;

    width: 133px;
    height: 50px;

    text-align: left;
}

.monitoringInpatientStatus {
    all: unset;

    font-weight: bold;
    
    margin-left: 10px;

    width: auto;
    height: 50px;

    text-align: left;
}

.todaysAppointmentTime {
    all: unset;

    width: 50px;
    height: 40px;

    text-align: left;

    font-size: 12px;
}

.todaysAppointmentDetails {
    all: unset;
    
    margin-left: 15px;

    width: 100px;
    height: 40px;

    text-align: left;

    .todaysAppointmentDocName {
        width: 100px;
        font-size: 12px;
    }

    .todaysAppointmentAppointmentType {
        width: 100px;
        font-size: 12px;
    }
}

.todaysAppointmentStatus {
    all: unset;

    font-weight: bold;
    
    margin-left: 15px;

    padding: 7px 4px;

    align-items: center;

    width: 67px;
    height: 22px;

    text-align: left;

    font-size: 12px;

    border-radius: 5.61px;

    p {
        all: unset;

        display: flex;
        justify-self: center;
        align-self: center;
    }
}

.containerContent {
    height: 100%;

    padding: 20px 20px 0px;
}

.containerTitle {
    font-size: 14px;
    font-weight: bold;

    color: #4E4B66;

    margin-bottom: 10px;
}

.seeAll {
    color: #008080;
    font-size: 12px;
}






/* INCOMING PATIENT CONTENT */
.incomingPatientContainer {
    margin-right: 20px;

    width: 414px;
    height: 276px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.incomingPatientHeader {
    display: flex;

    margin-bottom: 10px;

    color: #4E4B66;

    font-size: 12px;
    font-weight: bold;
}

.incomingPatientContent {
    display: flex;

    flex-direction: column;

    width: 385px; /* 374px */
    height: 163px;

    font-size: 12px;

    margin-bottom: 10px;

    overflow-y: scroll;
    scrollbar-width: thin;
}


/* PATIENT SENT FOR PARACLINICAL CONTENT */
.patientSentForParaclinicalTestContainer {
    margin-right: 20px;

    width: 447px;
    height: 276px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.patientSentForParaclinicalTestHeader {
    display: flex;

    margin-bottom: 10px;

    color: #4E4B66;

    font-size: 12px;
    font-weight: bold;
}

.patientSentForParaclinicalTestContent {
    display: flex;

    flex-direction: column;

    width: 418px; /* 374px */
    height: 163px;

    font-size: 12px;

    margin-bottom: 10px;

    overflow-y: scroll;
    scrollbar-width: thin;
}


/* MONITORING INPATIENT CONTENT */
.monitoringInpatientContainer {
    /* margin-right: 20px; */

    width: 881px;
    height: 410px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.monitoringInpatientHeader {
    display: flex;

    margin-bottom: 10px;

    height: auto;

    color: #4E4B66;

    font-size: 12px;
    font-weight: bold;
}

.monitoringInpatientContent {
    display: flex;

    flex-direction: column;

    width: 850px; /* 841px */
    height: 270px;

    font-size: 12px;

    margin-bottom: 10px;

    overflow-y: scroll;
    scrollbar-width: thin;
}


/* TODAYS APPOINTMENT CONTENT */
.todaysAppointmentContainer {
    width: 295px;
    height: 410px;

    background-color: #fff;

    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.todaysAppointmentAndSeeAll {
    display: flex;

    justify-content: space-between;

    margin-bottom: 16px;

    height: auto;

    color: #4E4B66;

    font-size: 12px;
    font-weight: bold;
}

.todaysAppointmentContent {
    display: flex;

    flex-direction: column;

    width: 271px;
    height: 310px; /* 270px */

    font-size: 12px;

    margin-bottom: 10px;

    overflow-y: scroll;
    scrollbar-width: thin;

    .todaysAppointmentContentRow {
        margin-bottom: 24px;
    }
}