.firstRow {
    display: flex;
    flex-direction: row;
}

.doctorHomepageContent {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;

    flex-grow: 1;

    width: 100%;
    height: 100%;

    background-color: #F2F2F2;

    .mainContent {
        display: flex;
        flex-direction: column;

        flex-grow: 1;

        padding: 20px 20px;

        .welcomeText {
            color: #008080;

            font-weight: bold;

            margin-bottom: 20px;
        }
    }
}